html {
  height: 100%;
  width: 100%;
}
header {
  background-image: url("images/gollandflag.png");
  background-size: 45%;
  padding: 20px;
  text-align: center;
}
nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-image: gollandflag.png;
  background-size: cover;
}
nav li {
  float: left;
}
nav li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}
nav li a:hover {
  background-color: #111;
}
